<div class="container-about">
  <div class="title-about">
    <h1>Why I am such a good developer?</h1>
  </div>
  <div class="subtitle-about">
    <h2>(For those that have read Nietzche)</h2>
  </div>
  <div class="content-about">
    <p>Daniel Misael Mercado Dueñas b. 1988
Mexican-Australian Web Developer with a background as an Art Director, Curator and Artist. By working alongside, interacting and producing technological artworks myself and with many other artists, I learned the importance of functionality and logistic which I now apply to my programming projects. For the last few years I have dabbled in the world of programming, creative and functional, which I consider to be a strength that allows me to dive into both Back and Front end. I consider myself a philosopher...a tavern philosopher, but a philosopher anyway, I collect books, minerals, I am a poet of closet and a self proclaim pataphysician. MERDRE! </p>
  </div>
</div>
