<div class="contact-container">
<div><i class="far fa-envelope fa-3x"></i></div>
    <div><h2><%= mail_to 'contact@misaelm.com.com'%></h2></div>
    <div><h2><%= mail_to 'misaelmdev@gmail.com'%></h2></div>
    <div><i class="fab fa-github fa-3x"></i></div>
<% link_to 'https://github.com/MisaelMP', target: '_blank' do %>
  <div><h2>https://github.com/MisaelMP</h2></div>
<% end %>
</div>
